搭建简单的前端自动化构建环境
@Author Fizz
@Time 2016年9月6日10:32:21
@Email mengchen_0212@foxmail.com
前言导读:本教程的目的只有一个:提高效率,回家吃晚饭.使用的主要技术与工具有nodejs,gulp,browser-sync,
chrome-Workspace....能达到的效果:使用Chrome作为IDE,css,js,html等资源实时显示,在所有打开本网页的
浏览器并同步操作.
教程目录:
	1:配置nodejs,gulp开发环境.
	2:使用gulp插件,编写并运行常见任务.
	3:使用browser-sync 搭建多设备测试环境.
	4:配置Chrome-Workspace,搭配gulp和browser-sync协同合作.
	5:总结.
	
	*********第一章节:配置nodejs,gulp开发环境.************
	现在的前端生态圈越来越丰富了(这是大环境...),但大部分前端的coder使用的还是很落后(诸多原因造成的...).
	现在
的前端开发不知道nodejs  npm 就算不上一个中级webDeveloper 当然你的js,css,html到了登峰造极的境界另谈.
闲话到后面再聊 ,不然我很容易跑题的 ,开始搭建nodejs gulp的开发环境吧
首先,nodejs 官网传送门 https://nodejs.org/en/ 首页二个大大的绿色按钮 ,一个是下载稳定版V4.5.0
一个是下载最新版V6.5.0,本教程的演示是使用V6.5.0
(1)下载V6.5.0安装包 下载后应该叫这个名字  node-v6.5.0-x64.msi.
(2)双击安装  一路Next.
(3)Windows +R --> cmd --> Enter --> node -v -->输出v6.5.0.
到此已完成nodejs在windows上的安装和配置  至于在linux计算机上的安装请移步百度,在此不做累述

使用npm install 命令安装gulp包 以及gulp插件
npm install "参数" 
(npm  是一个js包管理器  npm is the package manager for JavaScript,
可以使用命令安装js包 官网传送门 https://www.npmjs.com/)
此命令后不如不写参数 默认是搜索当前目录的package.json 下的配置文件里的包
例如: D:\Documents\HBuilderProject\FizzTeacher>node install
运行此命令是安装 FizzTeacher 目录下的 package.json的而配置文件, 关于package.json的作用
及生成方式请移步百度(不要什么都问我,要自己动手查资料啊 ^_^,其实我知道,可我就不告诉你....),


(1)创建项目FizzTeacher.
(2)创建package.json.
(3)将下面代码写进去
-----package.json代码分割线Start-----

{
  "name": "alone",
  "version": "1.0.0",
  "description": "Fizz teacher's automation create-project",
  "main": "index.html",
  "scripts": {
    "test": "Test is loading"
  },
  "repository": {
    "type": "git",
    "url": "havn't push github"
  },
  "keywords": [
    "gulp",
    "browser-sync",
    "chrome-workspace",
    "webdevlop",
    "automation"
  ],
  "author": "Fizz",
  "license": "ISC",
  "dependencies": {
    "gulp": "^3.9.1",
    "gulp-changed": "^1.3.2",
    "gulp-header": "^1.8.8",
    "gulp-rename": "^1.2.2",
    "gulp-uglify": "^2.0.0",
    "gulp-watch": "^4.3.9"
  }
}

-----package.json代码分割线End-----
(4)在FizzTeacher项目根目录运行cmd程序  执行node install 
(5)dos控制台不在刷命令时   (由于墙的限制 有些插件有可能会安装失败,遇到问题请联系本作,最喜欢处理这些问题了^_^)
输入  gulp -v 
输出 
	 CLI version 3.9.1
     Local version 3.9.1
(6)使用npm安装gulp 及其gulp插件到此结束
	
第一站章节 配置nodejs,gulp开发环境 已全部结束(有人问我,为什么写教程写那么好,哈哈....哈哈...
我不会告诉你我看的教程不下100个了,各种类型的,各种版本的,各种技术的,各种网站的.俗话说,没吃过猪肉还没见过
猪跑吗?希望我写的教程能对你们有帮助...谢谢)


*********第二章节:使用gulp插件,编写并运行常见任务************


在我的第一段学习计划的时候 为了选web前端自动化工具 搜索了很多资料,最后我得到一个结论 :gulp比Grunt好
so 我把gulp放进了我的学习计划了,最后的结果非常让我满意,学习曲线平缓,命令简单,配置简单,插件可拔插,轻量级
按照以往的尿性本作要抛出gulp的官网传送门了 http://www.gulpjs.com.cn/ (后来我又学了传言很牛很牛的webpack,马丹和gulp相比
webpack简直就是无字天书,还在啃教程中....坑爹啊)
废话少说,亮"兵器"吧
(1)在FizzTeacher项目根目录创建gulpfile.js
(2)gulpfile.js代码如下:

-----gulpfile.js代码分割线Start-----

var gulp = require("gulp");
gulp.task("default",function(){
	console.log('你已见证奇迹...速速膜拜')
});

-----gulpfile.js代码分割线End-----

(3)项目根目录打开DOS控制台 输入gulp 
(4)第一个gulp任务已完美执行,速速膜拜.
这里简单扩展一下gulp的知识 
gulp的命令有五个 分别是:
task 一个任务的开始
src  任务执行的目录 或文件
watch 监听目录文件的修改
dest  输入文件的目录
run  启动一个任务

gulp的强大之处在于运用了stream (虽然对这东西不太熟悉,但我依然能通过百度英汉字典的释义了解到它的强大之处)
gulp是把文件当做一股自来水来处理的,他可以通过不同的"管道"留到任何地方,也可以在留的过程中加入不同的材料,
比如颜料.钙元素...非常灵活,便捷.易于操作
default 是gulp的默认任务  多的我也不想扯了 亮代码吧!
下面是我常用的一些gulp任务,你应该也会需要把:

-----gulpfile.js代码分割线Start-----

var gulp = require("gulp"),
	uglify = require("gulp-uglify"),
	rename = require("gulp-rename"),
	header = require("gulp-header"),
	watch = require("gulp-watch"),
	changed = require("gulp-changed");

var dist = "dist", //处理后的文件目录
	distjs = "dist/js",
	distview = "dist/view";

var sourcejs = "js/**/*.js",
	sorucehtml = "view/**/*.html";

/**
 * 压缩整个目录的js 并加.min.js 输出到dist/js目录
 */
gulp.task("uglifyjs", function() {
	gulp.src(sourcejs)
		.pipe(uglify())
		.pipe(rename({
			extname: ".min.js"
		}))
		.pipe(gulp.dest(dist + "/js"))
});

/**
 * 监听源js文件  改动后实时自动压缩
 */
gulp.task("autouglifyjs", function() {
	gulp.src(sourcejs)
		.pipe(watch(sourcejs))
		.pipe(uglify())
		.pipe(rename({
			extname: ".min.js"
		}))
		.pipe(gulp.dest(distjs))
});

/**
 * 只传递修改过后的源js 进行压缩
 */
gulp.task("onlychangejs", function() {
	gulp.src(sourcejs)
		.pipe(changed(distjs))
		.pipe(uglify())
		.pipe(rename({
			extname: ".min.js"
		}))
		.pipe(gulp.dest(distjs))
});

/**
 * 编译html变成jsp
 */
var jspHeader = [];
jspHeader.push('<!--请在这里写页面注释-->\n');
jspHeader.push('<%= start %>@page language="java" import="java.unil.*" pageEncodeing="UTF-8"<%= end %>\n');
jspHeader.push('<%= start %>\nString path =request.getContextPath();\n');
jspHeader.push('String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";\n<%= end %>\n');
jspHeader = jspHeader.join('');
gulp.task("htmltojsp", function() {
	gulp.src("view/**/*.html")
		.pipe(header(jspHeader, {start: "<%",end: "%>"}))
		.pipe(rename({extname: ".jsp"}))
		.pipe(gulp.dest(distview))

})

/**
 * 使用browser-sync 启动静态资源项目
//npm install browser-sync -g
//browser-sync start --server --files "**/*.html,**/*.css,**/*.js"


gulp.task("default", function() {
	console.log("开始我的任务吧.....");
	gulp.run(['htmltojsp','autouglifyjs'])
});

-----gulpfile.js代码分割线End-----

dos 控制台 输入gulp 就能实现 view下的所有html页面转化为jsp  并且压缩js目录下的所有js  全输出都dist 目录下

如果执行运行 htmltojsp 这个任务   使用命令 gulp htmltojsp 就可以了 
这个任务创建的故事是这样的:我们的系统在重构,有一个同事把我们商城的所有静态页面完成了,好家伙 50多个页面,然后二个人平分,
我20多个html静态页面的功能,首先我要将静态页面转成jsp 因为我们后台使用的java 使用jsp是理所当然的,
而且还可以使用jsp的一些标签,html转jsp的过程真的是让我叫苦不堪啊...重复无意义而且容易出错的事情,我一定要找到一个方法
使用一行代码将所有html自动转成jsp页面  一开始我想用java,但好久没有用java处理文档里,拜托后台兄弟也不合适,最后也不了了之
在我学gulp的时候突然就发现了这个一键转换所有html到jsp的方法...
使用的gulp-header 插件 这个插件可以在文件顶部加自定义的内容 并且支持传入变量  我就把jsp的顶部的java代码使用gulp-header
加入了gulp的stream中 哈哈.....写完,测试这个任务之后我发现我真的好厉害啊..哈哈哈......问题总是会我带来很多意想不到的乐趣

下面介绍几个常用的gulp 插件
gulp-rename      更改文件名
gulp-uglify      压缩js文件
gulp-header      在文件头部加自定义文本
gulp-footer      在文件底部加自定义文本
gulp-minify-css  压缩css文件
gulp-concat      合并文件
gulp-jshint      检查验证 js 是否错误
gulp-clean       清理文件
del              删除文件  或整个目录

这里不再一一介绍插件的使用方法  想要了解 请移步npm 官网 输入对应的插件名 看api



*********第三章节:使用browser-sync 搭建多设备测试环境************
broswer-sync  是我最近遇到的最好的一个提高效率好玩有趣 的工具,做的非常好. 
当我用它搭配起本地的开发环境时 ,有一种想见很晚的感觉,为啥那么好的东西没有向我推荐啊?
废话到此为止,按照惯例 先抛出browser-sync的官网  .......  稍等,此处为了调动学习者的积极性,不给出了
官网网站,(哈哈......本人就是那么不安常理出牌.哈哈哈......)
摘录一下官网对它的介绍:
Browsersync能让浏览器实时、快速响应您的文件更改（html、js、css、sass、less等）并自动刷新页面。
更重要的是 Browsersync可以同时在PC、平板、手机等设备下进项调试。
您可以想象一下：“假设您的桌子上有pc、ipad、iphone、android等设备，同时打开了您需要调试的页面，
当您使用browsersync后，您的任何一次代码保存，以上的设备都会同时显示您的改动”。无论您是前端还是后端工程师，使用它将提高您30%的工作效率。

是的,他说让你假设一下你的桌子上有pc ipad iphone android 只是假设一下,我的桌子上只有一个过了时的小米2s
不过提高30%的效率并不是吹的...特别是你的静态资源非常多的时候

搭建browser-sync 开发环境 非常的简单
(1) npm install -g browser-sync 使用npm 全局安装browser-sync
(2) browser-sync start --server --files "**/*.css, **/*.html" 
// 如果你的文件层级比较深，您可以考虑使用 **（表示任意目录）匹配，任意目录下任意.css 或 .html文件。
使用browser-sync 启动静态服务器,并监听文件修改
(3) 输入上一端代码后 会自动打开浏览器 ,访问你的项目根目录下的index.html 页面 (记得使用局域网ip访问)

这个时候 手机浏览器也输入同样的url 然后上下滑动一下页面,点击一下按钮, 填写一个表单 ,修改一下css保存  奇迹就是这样发生的
我稍微了解了一下它的技术,使用的主要技术Socket.io (顺便说一下 大家最喜欢的网易云音乐也用的这个技术,即时通讯);
它的官网上写了很多事例,又兴趣可以去尝试着做一遍
最后再放上一个例子:

-----gulpfile.js代码分割线Start-----

var gulp = require("gulp");
var browserSync = require("browser-sync").create();
var uglify = require("gulp-uglify");
//处理完js文件后返回流
gulp.task("js", function() {
	return gulp.src("js/**/*.js")
		.pipe(browserify())
		.pipe(uglify())
		.pipe(gulp.dest("dist/js"));
});

//创建一个任务确保js任务完成之前能够继续响应
//浏览器重载
gulp.task("js-watch",["js"],browserSync.reload);

//使用默认任务启动Browsersync ,监听JS文件
gulp.task("server",["js"],function(){
	//从这个项目根目录启动服务器
	browserSync({
		server:{
			baseDir:"./"
		}
	});
	//添加browserSync.reload到任务队列里
	//所有的浏览器重载后任务完成
	gulp.watch("js/*.js",["js-watch"]);
})

-----gulpfile.js代码分割线End-----


	*********第四章节:配置Chrome-Workspace,搭配gulp和browser-sync协同合作.************
	
啊!!! 那么快已经写到第四章了,不知道各位看官有没有看出我在写什么,唉...我也忘了我在写什么...
闲话不说,发觉Chrome的Workspace 功能纯属因为我有一颗想要当大牛的心,故事是这样的...各位看官且听我慢慢道来:
有一天我帮一个妹子解决问题,她无意间提到了他们公司的前端大牛,说如何如何的牛逼,人家直接在Chrome里写代码....
我说


