/*!
 * =====================================================
 * 宝宝荟css
 * 补充style.css (待合并)
 * By Pang MengChen
 * =====================================================
 !*/

/**收货地址列表页面 **/
.modidelcon{position:absolute; right:10px; top:10px;}
.modidelcon a{margin:0px 5px; background:url(../images/uc_icon.png) no-repeat; background-size:300px 300px; width:20px; height:20px; display:block;}
.modidelcon a.modi{ background-position: -85px -121px;}
.modidelcon a.line{ background-position: -138px -120px; width:1px; }
.modidelcon a.del{ background-position: -113px -121px;}
header .goto {color: #FFFFFF !important; font-size: 16px; position: absolute; right: 10px; top: 0px; height: 45px;}
header .goto a {display: block; padding: 12px 3px 8px 3px;color: #FFFFFF !important;}

.useropt .frmrow{ border-bottom: 1px solid #eeeeee; background-color: #FFFFFF; padding: 15px 0px; position: relative;}
.useropt .frmrow lable{ display:inline-block; width: 85px; margin-left: 20px; font-size:14px;}
.useropt .frmrow input{ border: none; font-family: "Microsoft YaHei"; color: #494949; font-size:14px;}
.useropt .frmrow input::-webkit-input-placeholder{ color: #d0d0d0;}
.useropt .frmrow input.codebtn{ border:1px solid #cccccc; color: #919191; padding:5px 5px; border-radius:3px; background-color: #FFFFFF; position: absolute; right: 10px; top:10px;}
.useropt .frmrow2{padding:0px 10px; margin-top: 10px;}
.useropt .frmrow2 input.submits{ background-color:#dc3e35; font-family: "Microsoft YaHei"; border: none; width: 100%; padding:10px 0px; border-radius: 4px; color:#FFFFFF; }

p.place {position:relative;}
p.place select{ width:200px; border:1px solid #eeeeee; border-radius:3px; -webkit-appearance:none;  padding:5px 5px; font-size:14px; margin-bottom:5px; }
p.place:after{ width:20px; height:25px; content:' '; background:url(../images/uc_icon.png) no-repeat -77px -135px; background-size:250px 250px; display:inline-block; position:absolute;right:5px; top:5px}
/** 订单列表页面**/
.selectC_box ul li.li-line{display: block;text-align: left;width: 100%;border-bottom:0px;height: 30px;padding-left: 10px;}
.selectC_box ul li.li-line a{ height: 25px; line-height: 25px;float: left;text-align: left;}
.selectC_box ul li.li-line:last-child{border-bottom: 1px solid #DDDDDD;}
.articlecon .piclist{height: 78px;}
.articlecon span.time{bottom: 5px;top: inherit;}

/** 订单详情页**/
.paybottom {background: #414141;border-top: 1px solid #dcdcdc; color: #FFFFFF;bottom: 0;height: 40px;line-height: 40px;padding: 5px 0px;position: fixed;width: 100%;z-index: 999;font-size: 12px;}
.producthm{ background-color:#FFF; padding:10px; font-size:12px;}
.producthm p{ margin-bottom:5px;}
.producthm .messages{background-color:#f5f5f5; color:#333333; padding:10px;  min-height: 20px;}
 
.top-wrap{color: #FFFFFF;}
.top-wrap.no-fix{margin-top: 50px;}
.top-wrap .search-btn{border: none;height: initial;line-height: initial; width: 50px; color: #ff0000;background-color: white;padding: 5px;width: initial;right: 3px; position: relative;top: 11px;border-radius: 2px;}

.nullCon .picbg i.order-null{background: url(../images/no-order.png);background-size: cover;margin-right: 0px;margin-top: 26px;height: 69px;}
.nullCon .picbg i.orderdata-null{background: url(../images/noorderdata.png);background-size: cover;margin-right: 0px;margin-top: 22px;height:75px;}
.nowloading {position: fixed; top: 50%; left: 50%; width: 50px; margin-left: -25px; margin-top: -25px; display: block;}

.wri-overlay{height: 100%;width: 100%; position: fixed; z-index: 1000; background-color: #666666; top: 0; left: 0; opacity: 0.5;}
.wri-dialog{position: fixed;height: auto;width: 92%;top: 20%;left: 17px;z-index: 2000;background-color: #fff;border-radius: 4px;}