/*!
 * =====================================================
 * XNB V1.1.0 (m.51xnb.cn)
 * 新版商城 global.css v2.0.1 
 * By Xusiwei
 * =====================================================
 !*/
*{ padding: 0; margin: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html{-webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; text-size-adjust:100%;}
body{font-family: "Microsoft YaHei" !important; background-color:#efeff4; }
html,body{ height:100%;}
li{list-style-type:none;}
a{text-decoration:none; blr:expression(this.onFocus=this.blur()); outline: none; cursor: pointer;}
a:focus ,a:active{ outline: none; } 
img{border:none; vertical-align: top;}
i{ font-style:normal; display:inline-block !important; *display:inline;zoom:1;}
.hide{display: none !important;}
.show{display: block !important;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display: block;}
label,select,button,input{cursor:pointer;font-family: "Microsoft YaHei" !important;}
button,input,select,textarea { margin:0; font-size:100%; vertical-align:middle;}
textarea { overflow:auto; vertical-align:top; outline: none;}
input{outline: none;margin:0; padding:0;}
input[type=text] {box-sizing : content-box; -moz-box-sizing : content-box;}
input[type="button"],input[type="submit"], input[type="reset"],input[type="text"],input[type="search"],input[type="number"],input[type="password"],input[type="tel"],textarea {-webkit-appearance:none;}
table{border-spacing:0; border-collapse:collapse;}
.dialoginput{border:1px solid #dcdcdc; padding:5px 10px; height:30px; line-height:30px; box-sizing: border-box !important;}

/*按钮*/
.csnbtn{width:100%;background-color:#FFFFFF;box-sizing:border-box;border-radius:5px;margin:5px 0px;padding:12px 0px;text-align:center;border:none;display:inline-block;font-size:14px;}
.csnbtn-default{background-color:#e5e5e5;box-sizing:border-box;border-radius:5px;margin:5px 0px;text-align:center;border:none;display:inline-block;font-size:14px;}
/*.csnbtn-danger{color:#FFFFFF;background-color:#da4f49;background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-repeat:repeat-x;}*/
.csnbtn-danger{color:#FFFFFF;background-color:#dc3e35;}
.csnbtn-success{color:#FFFFFF;background-color:#5fc33d;background-image:-moz-linear-gradient(top,#43fc04,#5fc33d);background-image:-webkit-gradient(linear,0 0,0 100%,from(#43fc04),to(#5fc33d));background-image:-webkit-linear-gradient(top,#43fc04,#5fc33d);background-image:-o-linear-gradient(top,#43fc04,#5fc33d);background-image:linear-gradient(to bottom,#43fc04,#5fc33d);background-repeat:repeat-x;}
.csnbtn-warning{color:#FFFFFF;background-color: #faa732;background-image: -moz-linear-gradient(top,#fbb450,#f89406);background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image: -webkit-linear-gradient(top,#fbb450,#f89406);background-image: -o-linear-gradient(top,#fbb450,#f89406);background-image: linear-gradient(to bottom,#fbb450,#f89406);background-repeat: repeat-x;}
.csnbtn-primary{color: #fff;background-color: #006dcc;background-image: -moz-linear-gradient(top,#08c,#04c);background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image: -webkit-linear-gradient(top,#08c,#04c);background-image: -o-linear-gradient(top,#08c,#04c);background-image: linear-gradient(to bottom,#08c,#04c);background-repeat: repeat-x;}
.csnbtn-info{color: #fff;background-color: #49afcd;background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);background-repeat: repeat-x;}
.csnbtn-black{color: #fff;background-color: #363636;background-image: -moz-linear-gradient(top,#444,#222);background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));background-image: -webkit-linear-gradient(top,#444,#222);background-image: -o-linear-gradient(top,#444,#222);background-image: linear-gradient(to bottom,#444,#222);background-repeat: repeat-x;}

/*alert*/
#popup_container{font-family: Arial, sans-serif;font-size: 12px;min-width: 300px; max-width: 600px; background: #fafafa; color: #000;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;}
#popup_title{font-size: 16px;font-weight: bold;text-align: center;color: #666;/* border-bottom:1px solid #dcdcdc;*/ cursor: default;padding:10px 0px;margin: 0;}
#popup_content{/*background: 16px 16px no-repeat url(images/info.gif);*/margin:0;}
#popup_content.alert{/*background-image: url(images/info.gif);*/}
#popup_content.confirm{/*background-image: url(images/important.gif);*/}
#popup_content.prompt{/*background-image: url(images/help.gif);*/}
#popup_message{padding: 20px 20px 20px 20px;text-align:center; font-size:15px; color:#333333; font-weight:normal; font-family: "Microsoft YaHei"; line-height: 22px;}
#popup_panel{border-top:1px solid #dcdcdc; border-radius:0px 0px 15px 15px; overflow:hidden; text-align: center;}
#popup_panel input[type='button']{ border:none; padding: 12px !important;}
#popup_prompt{ border:1px solid #dcdcdc; padding:5px; border-radius:0px; width:190px; margin-top:6px;}

/*confirm_ok alert*/
.confirm_ok,.confirm_cancel,.prompt_ok,.prompt_cancel{ font-size:16px; border:none; width:50%; float:left; background:#fafafa; color:#333333; padding:10px 0px; cursor:pointer;font-weight:bold;}
.confirm_ok,.prompt_ok{ border-right:1px solid #cccccc !important; border-radius:0px 0px 0px 0px !important;}
.popup_ok{ font-size:16px; border:none; width:100%; background:#fafafa; padding:10px 0px; cursor:pointer; color:#333333; font-weight:bold; outline: none; blr:expression(this.onFocus=this.blur()); }
.jAlertText{ font-size:16px; color:#666; text-align:left; padding:0px 15px;}
.jAlertText2{ font-weight:normal; color:#666; text-align:left; padding:0px 15px; margin-top:15px; font-size:14px; table-layout:fixed; word-break: break-all; }

/*checkbox*/
label{display: inline;}
.regular-checkbox{display: none;}
.regular-checkbox + label{border: 1px solid #b5b5b5;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);padding: 9px;border-radius: 10px;display: inline-block;position: relative;}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active{box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.regular-checkbox:checked + label{background-color: #dc3e35;border: 1px solid #dc3e35;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);color: #99a1a7;}
.regular-checkbox:checked + label:after{content: ''; background:url(../images/cright_btn.png) no-repeat; background-size:cover; display:inline-block; width:13px; height:
13px; font-size: 14px;position: absolute;top: 3px;left: 3px;color: #99a1a7;}
.selin{border: 1px solid #dc3e35 !important; background:#dc3e35; }
.selin:after { background:url(../images/cright_btn.png) no-repeat #dc3e35; background-size:cover; color: #99a1a7; content: ""; display: inline-block; font-size: 14px; height: 13px; left: 3px; position: absolute; top: 3px; width: 13px;}
.big-checkbox + label{padding: 18px;}
.big-checkbox:checked + label:after{font-size: 28px;left: 6px;}
.tag{font-family: Arial, sans-serif;width: 200px;position: relative;top: 5px;font-weight: bold;text-transform: uppercase;display: block;float: left;}
.radio-1{width: 193px;}
.button-holder{float: left;}
/* radio*/
.regular-radio{display: none;}
.regular-radio + label{ vertical-align:top; cursor: pointer; margin-right:5px; -webkit-appearance: none;background-color: #fafafa;border: 1px solid #cacece;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);padding: 9px;border-radius: 50px;display: inline-block;position: relative;}
.regular-radio:checked + label:after{content: ' ';width: 10px;height: 10px;border-radius: 50px;position: absolute;top: 4px;background: #dc3e35;text-shadow: 0px;left: 4px;font-size: 32px;border-color:#dc3e35;}
.regular-radio:checked + label{color: #99a1a7;border: 1px solid #dc3e35;}
.regular-radio + label:active, .regular-radio:checked + label:active{box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.big-radio + label{padding: 16px;}
.big-radio:checked + label:after{width: 24px;height: 24px;left: 4px;top: 4px;}

/*Clear Float*/
.floatLeft{ float:left;}
.floatRight{ float:right;}
.pull-left{ float: left;}
.pull-right{ float: right;}
.clearfix {*zoom:1;}
.clearfix:before,.clearfix:after {display:table; line-height:0; content:"";}
.clearfix:after { clear:both;}
.container { margin-right:auto; margin-left:auto; *zoom:1;}
.container:before,.container:after { display:table; line-height:0; content:"";}
.container:after {clear:both;}

/*font&color&bgcolor*/
.bgcolor-255{ background-color: #FFFFFF;}
.nonebgcolor{ background:none !important;}
.color-255{ color:#FFFFFF !important;}
.color-F00{color:#dc3e35 !important;}
.font-size-12{ font-size: 12px !important;}
.font-size-14{ font-size: 14px !important;}
.font-size-16{ font-size: 16px !important;}
.font-size-18{ font-size: 18px !important;}
.text-center{ text-align: center;}
.text-left{ text-align: left !important;}
.text-right{ text-align: right !important;}
.character{text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}


/*padding&margin*/
.mg-0 { margin:0px !important;}
.mg-10{ margin:10px !important;}
.mg-20{ margin:20px !important;}
.m-l-r-10{margin:0px 10px !important;}
.m-t-b-10{margin:10px 0px !important;}
.pd-0 { padding:0px !important;}
.pd-10{ padding:10px !important;}
.pd-20{ padding:20px !important;}
.p-l-r-10{padding:0px 10px !important;}
.p-t-b-10{padding:10px 0px !important;}
.p-t-b-l{ padding:0px 0px 0px 15px !important;}
.m-t-0 { margin-top: 0px !important;}
.m-t-5 { margin-top: 5px !important;}
.m-t-10{ margin-top: 10px !important;}
.m-t-15{ margin-top: 15px !important;}
.m-t-20{ margin-top: 20px !important;}
.m-b-0 { margin-bottom: 0px !important;}
.m-b-5 { margin-bottom: 5px !important;}
.m-b-10{ margin-bottom: 10px !important;}
.m-b-15{ margin-bottom: 15px !important;}
.m-b-20{ margin-bottom: 20px !important;}
.m-l-0 { margin-left: 0px !important;}
.m-l-5 { margin-left: 5px !important;}
.m-l-10{ margin-left: 10px !important;}
.m-l-15{ margin-left: 15px !important;}
.m-l-20{ margin-left: 20px !important;}
.m-r-0 { margin-right: 0px !important;}
.m-r-5 { margin-right: 5px !important;}
.m-r-10{ margin-right: 10px !important;}
.m-r-15{ margin-right: 15px !important;}
.m-r-20{ margin-right: 20px !important;}
.p-t-0 { padding-top: 0px !important;}
.p-t-5 { padding-top: 5px !important;}
.p-t-10{ padding-top: 10px !important;}
.p-t-15{ padding-top: 15px !important;}
.p-t-20{ padding-top: 20px !important;}
.p-t-50{ padding-top: 50px !important;}
.p-t-95{ padding-top: 95px !important;}
.p-b-0 { padding-bottom: 0px !important;}
.p-b-5 { padding-bottom: 5px !important;}
.p-b-10{ padding-bottom: 10px !important;}
.p-b-15{ padding-bottom: 15px !important;}
.p-b-20{ padding-bottom: 20px !important;}
.p-b-50{ padding-bottom:50px !important;}
.p-l-0 { padding-left: 0px !important;}
.p-l-5 { padding-left: 5px !important;}
.p-l-10{ padding-left: 10px !important;}
.p-l-15{ padding-left: 15px !important;}
.p-l-20{ padding-left: 20px !important;}
.p-l-30{ padding-left: 30px !important;}
.p-r-0 { padding-right: 0px !important;}
.p-r-5 { padding-right: 5px !important;}
.p-r-10{ padding-right: 10px !important;}
.p-r-15{ padding-right: 15px !important;}
.p-r-20{ padding-right: 20px !important;}
.p-r-30{ padding-right: 30px !important;}
